body{
    background-color: rgb(43, 2, 36);
    background-blend-mode: color-burn;
    margin: 0;
    padding: 0;
    font-family: 'Trebuchet MS';
}
 
ul{
    padding: 0;
    margin: 0;
    text-align: left;
}

li{
    text-align: left;
    list-style: none;
}

header{
    background-color: rgb(201, 173, 19);
    height: 100px;
}

h1{
    float: left;
    margin-left: 20px;
    margin-right: 50px;
    color: white;
    font-size: 40px;
}

nav li{
    display: inline-block;
    margin-right: 100px;
    margin-top: 30px;
}

nav li a{
    color: rgb(22, 189, 180);
    text-decoration: none;
    font-size: 20px;
    cursor: pointer;
}

nav li a:hover{
    color: purple;
    text-shadow: 2px 2px 2px white;
}

main{
    width: 960px;
    margin: 30px auto;
    min-height: 700px;
}

h2{
    color:rgb(255, 255, 255);
    text-align: center;
    padding-top: 10px;
}

img{
    width: 960px;
    border: 10px solid black;
    border-radius: 15px;
    box-shadow: 15px 25px 50px purple;
    margin-left: 20px;
}

p{
    text-align: center;
    font-size:20px;
    margin-top: 30px;;
    color: white;
}

a{
    text-decoration: none;
    display: inline-block;
    margin-right: 30px;
    padding: 10px 16px;
    text-align-last: right;
    background-color: gold;
    border-radius: 10px;
}
.next:hover{
    background-color: #CCCCCC;
    color: blue;
}
.previous:hover{
    background-color: #CCCCCC;
    color: blue;
}
.previous {
    background-color: gold;
    color: blue;
}
.next {
    background-color: gold;
    color: blue;
}

ul{
    margin-right: 0;
}

footer{
    height: 80px;
    background-color: rgb(201, 173, 19);
    clear: both;
}

footer p{
padding-top: 20px;
}
